body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    background-color: rgb(79, 180, 109);
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    margin-left: 30px;
}

.logo a{
    text-decoration: none;
    color: white;
}

.option {
    display: flex;
    color: white;
    margin-right: 30px;
    justify-content: center;
    list-style-type: none;
}

.home{
    margin-right: 30px;
}

.option a{
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.option a:hover{
    transition: 0.3s;
    border-radius: 50px;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    color: rgb(79, 180, 109);
    padding: 5px;
    text-decoration: none;
}

.row{
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex: 1;
    background-color: rgb(239, 239, 239);
    min-height: 550px;
    
}

.zakatnya {
    margin: -10px 0 0 15px;
    
}

.zakatnya a{
    text-decoration: none;
    color: rgb(79, 180, 109);
    
}

.title {
    color: rgb(79, 180, 109);
    margin: 40px 0 0 30px;
}

.title a{
    color: rgb(79, 180, 109);
    text-decoration: none;
}

.list_zakat{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
}

.zakat1:hover{
    text-decoration: underline;
    text-decoration-color: rgb(79, 180, 109);}

.zakat2:hover{
    text-decoration: underline;
    text-decoration-color: rgb(79, 180, 109);}

.zakat3:hover{
    text-decoration: underline;
    text-decoration-color: rgb(79, 180, 109);}

.zakat4:hover{
    text-decoration: underline;
    text-decoration-color: rgb(79, 180, 109);}

.zakat5:hover{
    text-decoration: underline;
    text-decoration-color: rgb(79, 180, 109);}

.content {
    flex: 4;
    min-height: 550px;
}

.content_title {
    color: rgb(79, 180, 109);
    margin: 40px 0 -20px 30px;
}

.content_desc {
    width: 75%;
    border: 2px solid black;
    color: rgb(52, 52, 52);
    margin: -10px 0 0 30px;
}

.input_emasperak{
    margin: 0 0 0 30px;
}

.kolom_emas{
    margin-bottom: 20px;
}

#emas, #perak {
    border: 3px solid #b6b6b6;
    width: 300px;
    height: 30px;
    border-radius: 3px;
    padding-left: 10px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 15px 0 0 0;
    border: none;
    border-radius: 4px;
  }


.footer {
    border-top: 5px solid rgb(239, 239, 239);
    display: flex;
    background-color:  rgb(79, 180, 109);
    min-height: 200px;
    justify-content: flex-start;
}