{% extends "base.html" %}

{% block content %}

<h1 class="title_zakat">Zakat Pertanian</h1>
<div class="form_input">
    <form method="post" action="/zakat-emas">
        <label for="quantity">Hasil Panen</label>
        <div class="form-modal">
            <span>Rp</span>
            <input type="number" id="quantity" name="quantity" min="0" placeholder="Input nilai modal anda...">
        </div>
        <label for="quantity">Nilai Piutang</label>
        <span>Rp</span>
        <input type="" id="quantity" name="quantity" min="0" placeholder="Input nilai piutang anda...">
        <input type="submit">
      </form>
</div>

{% endblock %}